<div class="footer mt-auto bg-dark text-secondary">
    <!-- <div class="d-flex justify-content-center">
        <h5 class="card-title pt-2">Contact</h5>
    </div> -->
    <div class="container" style="height: 80px;">
        <div class=""><img class="icon-footer" src="/icons/github.png" alt="github icon"><small><a
                    class="link-secondary" href="https://github.com/OGuiCardoso">Github</a></small></div>
        <div class=""><img class="icon-footer" src="/icons/linkedin.png" alt="linkedin icon"><small><a
                    class="link-secondary"
                    href="https://www.linkedin.com/in/guilherme-moraes-636061181/">Linkedin</a></small>
        </div>
        <div class=""><img class="icon-footer" src="/icons/email.png" alt="email icon"><small
                class="text-small">guilhermemoraes1826@gmail.com</small></div>
    </div>
</div>