<nav class="navbar sticky-top navbar-expand-lg " data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="brand"
                src="https://res.cloudinary.com/dbu0iwr3h/image/upload/v1689174876/MySite/filename_5_ck2plw.png"
                alt="Brand"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link <%=data.url.includes('/aboutme') ? 'active' : ""%>" href="/aboutme">AboutMe</a>
                <a class="nav-link <%=data.url !== '/projects/new' && data.url.includes('/projects') ? 'active'
                    : "" %>" href="/projects">Projects</a>

                <% if(user){ %>

                    <a class="nav-link <%=data.url.includes('/new') ? 'active' : ""%>" href="/admin/projects/new">New
                        pojects</a>
                    <form action="/logout" method="post">
                        <button class="nav-link "> Logout</button>
                    </form>

                    <% } else{%>
                        <a class="nav-link <%=data.url.includes('/login') ? 'active' : ""%>" href="/login">Login</a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>