<% layout('layout/boilerplate') %>
    <div class="row">
        <div class="col-md-6 offset-md-3 ">
            <h1>Text heredddddddddddddddddd</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum similique quam adipisci qui facilis amet,
                facere animi magni quos ipsum quibusdam fugiat provident voluptatibus voluptatum officia atque quo iure!
                Distinctio?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi aliquam expedita veritatis. Laborum fugit
                accusamus tempore qui placeat reprehenderit iusto veritatis, debitis eligendi quis blanditiis maxime
                veniam. Voluptate, ut iure.
                Excepturi a, suscipit quaerat provident nam delectus quod molestias eum molestiae soluta, fugit dolores
                dicta ut? Ullam laudantium nisi exercitationem! Ea adipisci quis veniam voluptatum aspernatur dolorem
                id! Laudantium, numquam.
                Culpa aut quos ipsum quae veniam dicta hic perferendis accusantium a veritatis at ea, in consequatur
                aperiam quas dolorem enim maiores sapiente nisi architecto laudantium repudiandae nostrum. Eaque, eos
                ullam.
                Vel maiores blanditiis nihil labore culpa, delectus, numquam dicta quae reiciendis quasi consequuntur.
                Exercitationem id quas ratione reprehenderit nam veritatis atque fuga, dolorum eius. Culpa, beatae!
                Tempore aliquid vel unde?
                Similique minima ullam quidem voluptatibus dolor, aliquam laborum, temporibus tenetur optio sit nostrum
                quas maxime, nisi minus. Voluptates a molestiae tenetur reprehenderit? Earum dolores obcaecati
                repudiandae. Libero nemo dolorem quas.
                Ratione recusandae sint eaque possimus, fuga natus deserunt esse, explicabo repudiandae, voluptate
                praesentium itaque alias! Adipisci quia perspiciatis consequuntur accusantium, animi ea nisi placeat
                porro ut labore facilis error? Doloribus.
                Minus doloremque quis quo labore? Dolorem ipsa architecto libero enim asperiores expedita voluptate
                iste. Quam labore mollitia maiores cumque dolor eligendi recusandae, quisquam aperiam temporibus?
                Impedit labore aliquid expedita ex!
                Pariatur reiciendis nam molestias omnis consectetur similique beatae ipsum dolorum magnam quo fugit, in
                quae soluta minima deserunt illo quibusdam est quia numquam dicta eligendi nisi? Ipsa similique impedit
                ipsam!
                Quisquam voluptas, reprehenderit veritatis quidem nesciunt esse laborum pariatur nihil nostrum, fuga
                laudantium cupiditate et. Corrupti ex consectetur dignissimos expedita enim doloremque quisquam ducimus
                velit esse. Quo dicta suscipit minus.
                Tenetur corrupti facere dicta commodi? Blanditiis in doloribus quasi saepe exercitationem sed eos nihil
                deleniti excepturi atque, quia quis veritatis qui accusamus asperiores delectus ullam eius, sequi
                voluptatem dolorum error.</p>

        </div>
    </div>