<% layout('layout/boilerplate') %>
    <div class="my-5">

        <h1>HOW I AM</h1>
        <div class=" my-5">
            <div class="card mb-3" style="max-width: 650px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://images.unsplash.com/photo-1647727416391-0bc8f5bda78e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDF8Q0R3dXdYSkFiRXd8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Guilherme Cardoso de Moraes</h5>
                            <p class="card-text">22 years old</p>
                            <p class="card-text">Our history has passed through many evolutions stages, many things that
                                are helping us today it's thanks to what our ancestors discovered, we have a lot to
                                learn yet and is our duty keep the wheel turning. I belive that the actual and the next
                                step to this proccess is relationed with technology, and i want to contribute with our
                                evolution!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <h2 class="mb-5">Knowledge</h2>
            <div class="mb-5">
                <h5><img class="icon" src="icons/javascrip.png" alt="javascrip icon">JavaScript </h5>
                <p>I have a strong foundation in JavaScript programming, with knowledge and experience in key areas such
                    as
                    conditional statements (if, else if, else), loops (for, while), functions, and object-oriented
                    programming (OOP) principles. I am proficient in using JavaScript to solve problems and implement
                    logic
                    to achieve desired outcomes. I have also worked with data structures like arrays, and I
                    understand the importance of efficient algorithms for tasks such as sorting and searching. I
                    continuously expand my knowledge of JavaScript and keep up with the latest trends and best practices
                    in
                    the language.</p>
            </div>
            <div class="mb-5">
                <h5> <img class="icon" src="/icons/nodejs.png" alt="node js icon">Node.js </h5>
                <p>Understanding of Node.js, a powerful JavaScript runtime environment. I have experience
                    with building server-side applications and APIs using Node.js. I am familiar with Node Package
                    Manager
                    (npm) and i have worked
                    with popular frameworks and libraries such as Express.js to develop web
                    applications. I am also proficient in working with databases using libraries like Mongoose,
                    and I have a good understanding of RESTful API design principles.</p>
                <b>Worked frameworks</b>
                <ul class="list-group list-group-flush mt-2">
                    <li class="list-group-item">Express.js</li>
                    <li class="list-group-item">Express-session</li>
                    <li class="list-group-item">Bcrypt</li>
                    <li class="list-group-item">Mongoose</li>
                    <li class="list-group-item">Ejs</li>
                    <li class="list-group-item">Flash</li>
                </ul>

            </div>
            <div class="mb-5">
                <h5> <img class="icon" src="/icons/mongodb.png" alt=" mongodb icon">MongoDB </h5>
                <p>I have experience working with MongoDB, a popular NoSQL database. I know how to work with MongoDB's
                    document-based data model and understand how to design and query collections effectively. I have
                    worked
                    with the MongoDB Node.js driver and Object-Document Mapping (ODM) libraries like Mongoose to
                    interact
                    with the database in JavaScript applications. I am proficient in performing CRUD (Create, Read,
                    Update,
                    Delete) operations and implementing querying and aggregation pipelines in MongoDB.</p>
            </div>
            <div class="mb-5">
                <h5> <img class="icon" src="icons/linux.png" alt=" linux icon">Linux </h5>
                <p>I have a understanding of Linux operating systems and their command-line interface. I am
                    comfortable working with Linux distributions such as Ubuntu or Mint. I am proficient in using
                    essential command-line tools and utilities for file system navigation, process management, package
                    management, and user administration. I continuously explore new Linux technologies.</p>
            </div>
            <div class="mb-5">
                <h5> <img class="icon" src="icons/github.png" alt="github icon">GitHub </h5>
                <p>Experience with GitHub, a popular version control platform. I am familiar with the process
                    of creating and configuring repositories on GitHub. I have knowledge of initializing a local Git
                    repository, committing changes, and pushing those changes to remote repositories on GitHub. I
                    understand
                    the importance of writing clear and concise commit messages to document the purpose of each change.
                </p>
            </div>

        </section>

    </div>