<% layout('layout/boilerplate') %>
    <div class="my-5">

        <h1>HOW I AM</h1>
        <div class=" my-5">
            <div class="card mb-3" style="max-width: 650px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://images.unsplash.com/photo-1647727416391-0bc8f5bda78e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDF8Q0R3dXdYSkFiRXd8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Guilherme Cardoso de Moraes</h5>
                            <p class="card-text">22 years old</p>
                            <p class="card-text">Our history has passed through many evolutions stages, many things that
                                are helping us today it's thanks to what our ancestors discovered, we have a lot to
                                learn yet and is our duty keep the wheel turning. I belive that the actual and the next
                                step to this proccess is relationed with technology, and i want to contribute with our
                                evolution!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <h2 class="mb-4">Knowledge</h2>

            <h5>JavaScript</h5>
            <p>I have a strong foundation in JavaScript programming, with knowledge and experience in key areas such as
                conditional statements (if, else if, else), loops (for, while), functions, and object-oriented
                programming (OOP) principles. I am proficient in using JavaScript to solve problems and implement logic
                to achieve desired outcomes. I have also worked with data structures like arrays, and I
                understand the importance of efficient algorithms for tasks such as sorting and searching. I
                continuously expand my knowledge of JavaScript and keep up with the latest trends and best practices in
                the language.</p>

            <h5>Node.js</h5>
            <p>I have a solid understanding of Node.js, a powerful JavaScript runtime environment. I have experience
                with building server-side applications and APIs using Node.js. I am familiar with core Node.js concepts
                such as event-driven architecture, non-blocking I/O, and the Node Package Manager (npm). I have worked
                with popular frameworks and libraries such as Express.js to develop robust and scalable web
                applications. I am also proficient in working with databases using libraries like Mongoose or Sequelize,
                and I have a good understanding of RESTful API design principles. I am continuously exploring new
                features and advancements in Node.js to enhance my development capabilities.</p>


            <h5>MongoDb</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum similique quam adipisci qui facilis amet,
                facere animi magni quos ipsum quibusdam fugiat provident voluptatibus voluptatum officia atque quo iure!
                Distinctio?</p>
            <h5>Linux</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum similique quam adipisci qui facilis amet,
                facere animi magni quos ipsum quibusdam fugiat provident voluptatibus voluptatum officia atque quo iure!
                Distinctio?</p>
            <h4>Node</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum similique quam adipisci qui facilis amet,
                facere animi magni quos ipsum quibusdam fugiat provident voluptatibus voluptatum officia atque quo iure!
                Distinctio?</p>
        </section>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi aliquam expedita veritatis. Laborum fugit
            accusamus tempore qui placeat reprehenderit iusto veritatis, debitis eligendi quis blanditiis maxime
            veniam. Voluptate, ut iure.
            Excepturi a, suscipit quaerat provident nam delectus quod molestias eum molestiae soluta, fugit dolores
            dicta ut? Ullam laudantium nisi exercitationem! Ea adipisci quis veniam voluptatum aspernatur dolorem
            id! Laudantium, numquam.
            Culpa aut quos ipsum quae veniam dicta hic perferendis accusantium a veritatis at ea, in consequatur
            aperiam quas dolorem enim maiores sapiente nisi architecto laudantium repudiandae nostrum. Eaque, eos
            ullam.
            Vel maiores blanditiis nihil labore culpa, delectus, numquam dicta quae reiciendis quasi consequuntur.
            Exercitationem id quas ratione reprehenderit nam veritatis atque fuga, dolorum eius. Culpa, beatae!
            Tempore aliquid vel unde?
            Similique minima ullam quidem voluptatibus dolor, aliquam laborum, temporibus tenetur optio sit nostrum
            quas maxime, nisi minus. Voluptates a molestiae tenetur reprehenderit? Earum dolores obcaecati
            repudiandae. Libero nemo dolorem quas.
            Ratione recusandae sint eaque possimus, fuga natus deserunt esse, explicabo repudiandae, voluptate
            praesentium itaque alias! Adipisci quia perspiciatis consequuntur accusantium, animi ea nisi placeat
            porro ut labore facilis error? Doloribus.
            Minus doloremque quis quo labore? Dolorem ipsa architecto libero enim asperiores expedita voluptate
            iste. Quam labore mollitia maiores cumque dolor eligendi recusandae, quisquam aperiam temporibus?
            Impedit labore aliquid expedita ex!
            Pariatur reiciendis nam molestias omnis consectetur similique beatae ipsum dolorum magnam quo fugit, in
            quae soluta minima deserunt illo quibusdam est quia numquam dicta eligendi nisi? Ipsa similique impedit
            ipsam!
            Quisquam voluptas, reprehenderit veritatis quidem nesciunt esse laborum pariatur nihil nostrum, fuga
            laudantium cupiditate et. Corrupti ex consectetur dignissimos expedita enim doloremque quisquam ducimus
            velit esse. Quo dicta suscipit minus.
            Tenetur corrupti facere dicta commodi? Blanditiis in doloribus quasi saepe exercitationem sed eos nihil
            deleniti excepturi atque, quia quis veritatis qui accusamus asperiores delectus ullam eius, sequi
            voluptatem dolorum error.</p>
    </div>