<% layout('layout/boilerplate') %>

    <div class="d-flex justify-content-center align-items-center" style="height: 70vh;">

        <div class="card border-danger text-bg-dark mb-3" style="width: 25rem; height: 15rem;">
            <div class="card-header text-danger">Error</div>
            <div class="card-body text-danger">
                <h5 class="card-text">We're sorry, but the page you're looking for could not be found. It seems that
                    the link you followed may be broken or the page has been moved or deleted.</h5>
                <p class="card-text">We apologize for any inconvenience this may have caused. Thank you for your
                    understanding.</p>
            </div>
        </div>
    </div>