<% layout('layout/boilerplate') %>
    <div class=" my-5">
        <h1>Projects</h1>
    </div>
    <section class="mb-5">
        <p>Welcome to my project page! Here, you will discover a compilation of my projects that I have passionately
            worked on. I invite you to explore each one of them and delve into their accompanying GitHub repositories,
            where you can explore the code I have meticulously crafted. Feel free to browse, learn, and get inspired!
        </p>
    </section>
    <div class=" row row-cols-2 justify-content-start ">

        <% for(let p of projects){ %>
            <div class="card text-bg-dark col mx-3 my-3" style="width: 18rem;">
                <img src="<%= p.image.url %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=p.title%>
                    </h5>
                    <p class="card-text">
                        <%=p.description%>
                    </p>
                    <a href="/projects/<%=p._id%>" class="btn btn-primary">See more</a>
                </div>
            </div>
            <% } %>
    </div>